*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Slab', sans-serif;
}

/* Navbar Section */
.navContainer{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6%;
    gap: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navContainer>div:first-child{
    font-size: 1.5vw;
    font-weight: 700;
    color: #ff2f2f;
}

.navContainer>div:nth-child(2){
    min-width: 45%;
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.navContainer>div:nth-child(2)>p a{
    text-decoration: none;
    color: black;
}

.navContainer>div:nth-child(2)>button{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.1vw;
    font-weight: 700;
    background-color: #ff2f2f;
    color: white;
    padding: 1.5%;
    border: none;
    border-radius: 10px;
}

.navContainer>div:nth-child(2)>button>a{
    text-decoration: none;
    color: white;
}

/* Introduction Section */
.introContainer{
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    background: linear-gradient(to right, #5d7f88 0%, #3f3d80 33%, #142e6e 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12em;
}

.introContainer>div{
     width: 42%;
}

.introContainer>div>div>p:first-child{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4vw;
}

.introContainer>div>div>p:nth-child(2){
    font-size: 4vw;
}

.typing-container {
    display: flex;
    flex-direction: column;
  }
  
  .typing-animation {
    display: inline-block;
    overflow: hidden; /* Ensure that the text doesn't overflow */
    white-space: nowrap; /* Prevent line breaks */
    border-right: 0.1em solid; /* Add a blinking cursor effect */
  }

  #line1{
    animation: typing 3s steps(30), blink-caret 0.5s step-end infinite;
  }

  #line2{
    display: none;
  }
  
  @keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: transparent; }
  }
  
 

.introContainer>div>h2{
    font-size: 2.6vw;
}

.introContainer>div>p:last-child{
    font-size: 1.2vw;
    text-align: justify;
}

.introContainer>div>button{
    font-family: 'Roboto Slab', sans-serif;
    margin-top: 1%;
    font-size: 1.2vw;
    font-weight: 700;
    background-color: #ff2f2f;
    color: white;
    padding: 1.8%;
    border: none;
    border-radius: 10px;
}

.introContainer>div>button>a{
    text-decoration: none;
    color: white;
}

.introContainer>img{
    max-width: 20%;
    height: auto;
    animation: introImage 3s linear 2s infinite;
}

@keyframes introImage {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

/* About Me */

.aboutContainer{
    font-family: 'Roboto Slab', sans-serif;
    padding: 18vh 0 18vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.aboutContainer>img{
    max-width: 35%;
    height: auto;
    border-radius: 50%;
    border: 6px solid #5d7f88;
}


.aboutContainer>div{
    width: 35%;
}

.aboutContainer>div>h3{
    font-size: 3vw;
}

.aboutContainer>div>p{
    font-size: 1.2vw;
    text-align: justify;
}

/* My Skill Section */
.skillContainer{
    width: 100%;
    height: 90vh;
    margin: auto;
}

.skillContainer h1{
    text-align: center;
    font-size: 3vw;
}

.skillContainer .skillInner{
   display: grid;
   place-items: center;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   row-gap: 30%;
   padding: 10vh 0 10vh 0;
}

.skillContainer .skillInner .flip-card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
  }
  
  
  .skillContainer .skillInner .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .skillContainer .skillInner .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .skillContainer .skillInner .flip-card-front, .flip-card-back i {
    font-size: 4vw;
  }
  
  .skillContainer .skillInner .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  /* .skillContainer .flip-card-front {
    color: coral;
  } */
  
  .skillContainer .skillInner .flip-card-back {
    transform: rotateY(180deg);
  }
  
  

/* My Statistics Section */
.mystatContainer{
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mystatContainer>h3{
    font-size: 3vw;
}

.mystatContainer>div{
    padding: 8vh 0 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mystatContainer>div>img:first-child{
    width: 40vw;
    height: auto;
}
.mystatContainer>div>img:last-child{
    width: 40vw;
    height: 34.5vh;
}

/* My Github Calendar Section */
/* #github_calendar{

} */

/* Project Section */
.proContainer{
  padding: 3rem 0 10rem 0;
  border: 1px solid red;
}

.proContainer>h1{
  text-align: center;
  font-size: 3vw;
  margin-bottom: 2em;
}

.proContainer>div{
  display: grid;
  place-items: center;
  row-gap: 10%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.card {
  max-width: 80%;
  height: 60vh;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid black;
  padding: 1px;
}

.content {
  padding: 1.1rem;
}

.card .content a {
  text-decoration: none;
}

.card .content a button{
  background-color: #ff2f2f;
  padding: 1%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 70%;
  background-color: rgb(239, 205, 255);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card .content p{
  color: grey;
  font-size: 1rem;
  font-weight: 300;
}

/* Contact Section */
.conContainer{

}

.conContainer > div:first-child{
  text-align: center;
}

.conContainer > div:first-child p{
  color: grey;
}

.conSocial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.conContainer>div{
  text-align: center;
}